PORT=5000
JWT_SECRET=grow_green_oasis_super_secret_jwt_key_2026!
NODE_ENV=development
SUPABASE_URL=https://sukmlimegwatvuwodcmn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_k6_mz
ptD2oSp5XlPiexJxg_btrUQVGn
SUPABASE_ANON_KEY=sb_publishable_Rd8atzyx3dkDw6wsoLDwLw_RKq4-L-6